!!!

%head
  - @stylesheets.each do |style|
    %link{rel:'stylesheet', href:"/stylesheets/#{style}"}
  %title= @title

%body
  #header
    %table
      %tr.title-container
        %td{colspan:2}
          %span.title= @title

      %tr
        %td#standard-nav
          #nav-container
            %ul#navbar

              %li.item{class:current?('/')}
                %a{href:'/'} Home

              - if authorized?
                %li.item{class:current?('/new')}
                  %a{href:'/new'} Create New Ad

                %li.item{class:current?('/sample-ad')}
                  %a{href:'/sample-ad'} View A Sample Ad

                %li.item#ads-list{class:current?('/list')}
                  %a{href:"/list"} Display
                  %span#refresh-button.off
                    %a{href:"javascript:reload_ads_list();"} (refresh)
                  %ul.item-list
                    %li.detail-item Loading…

        %td#login-logout
          #nav-container
            - if authorized?
              %ul#navbar
                %li.item{class:current?('/logout')}
                  %a{href:'/logout'} Logout
            - else
              %ul#navbar
                %li.item{class:current?('/login')}
                  %a{href:'/login'} Login

  = styled_flash

  %div= yield

  %div#copyright Copyright © 2013 Pooria Azimi


  - @scripts.each do |script|
    %script{src:"/scripts/#{script}"}