!!!

%head
  - @stylesheets.each do |style|
    %link{rel:'stylesheet', href:"/styles/#{style}"}
  - @scripts.each do |script|
    %script{src:"/scripts/#{script}"}
  %title= @title

%body
  #header
    %table
      %tr.title-container
        %td{colspan:2}
          %span.title= @title

      %tr
        %td#standard-nav
          #nav-container
            %ul#navbar

              %li.item
                %a{href:'/'} Home

              - if authorized?
                %li.item
                  %a{href:'/new'} Create New Ad

                %li.item
                  %a{href:"/list"} Display
                  %ul.item-list
                    - @ads.first(15).each do |ad|
                      %li.detail-item
                        %a{href:"/display/#{ad.id}"}= ad.title

                %li.item
                  %a{href:'/sample-ad'} View A Sample Ad

        %td#login-logout
          #nav-container
            - if authorized?
              %ul#navbar
                %li.item
                  %a{href:'/logout'} Logout
            - else
              %ul#navbar
                %li.item
                  %a{href:'/login'} Login

  %div= yield

  %div#copyright Copyright © 2013 Pooria Azimi